/*by Marta*/
.picture {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: 1;
}

.post-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.top-bar p {
  font-weight: bold;
}

.UserPicFollowing {
  width: 30px;
  height: 30px;
}