/*CSS by Petya*/
.page {
  overflow: auto;
  /*height: 84vh;*/
  margin-bottom: 11vh;
}

.ingredient {
  display: flex;
}

.position {
  position: relative;
}
.text-position {
  /*recipe name*/
  position: absolute;
  bottom: 30%;
  left: 10px;
  color: white;
  bottom: 10px;
}

.text-position2 {
  position: absolute;
  bottom: 13%;
  left: 10px;
  color: white;
}

.recipe-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

.steps-spacing {
  margin-top: 10px;
}

.recipe_margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*Picture overlay by Marta*/
#food-pic {
  filter: brightness(0.8);
}

.back-btn-recipe {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* checkbox stylying by Petya*/
.checkboxinput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 3px solid var(--wine-primary, #823038);
  background: transparent;
  margin-right: 10px;
}

.custom-checkbox-input:checked {
  background-color: #823038;
}

.custom-checkbox-input:checked::before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 6px;
  border: 2px solid white; 
  border-top: none; 
  border-right: none; 
}